*{
    margin: 0px;
    padding: 0px;
}

.container {
    width: 1320px;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 50px;
}
.hero-section {
    background: linear-gradient(0deg, rgba(22, 1, 13, 0.468), rgba(31, 1, 19, 0.415) ),
  url("../images/Banner\ Image.png");
  width: 1320px;
  height: 600px;
  flex-shrink: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  margin-bottom: 120px;
}
.hero-title {
    text-align: center;
    align-items: center;
    padding-top: 200px;
}
.hero-title h3 {
    color: #fff;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.hero-title h1 {
    color: #fff;
    font-size: 72;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
}